services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend/deal-pipeline
    container_name: backend
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/dealpipeline
      JWT_SECRET: mysecretkey

  frontend:
    build: ./frontend/deal-pipeline-ui
    container_name: frontend
    ports:
      - "4200:80"

    depends_on:
      - backend

volumes:
  mongo-data:
